.create-room-container {
    max-width: 400px;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 8px;
    position: absolute; /* Posicionamiento absoluto para centrar verticalmente */
    top: 50%; /* Posiciona al 50% de la altura */
    left: 50%; /* Posiciona al 50% del ancho */
    transform: translate(-50%, -50%); /* Ajusta la posición para centrar exactamente */
    display: flex; /* Uso de Flexbox */
    flex-direction: column; /* Elementos en columna */
    align-items: center; /* Centrado horizontal de los elementos internos */
}

.create-room-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    width: 100%; /* Asegura que los elementos ocupen todo el ancho */
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: ##2a4857; /* Color azul oscuro para los labels */
    font-weight: bold; /* Negrita para destacar */
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Tipo de fuente legible */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #eeac65;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold; /* Negrita para el texto del botón */
}

button:hover {
    background-color: #d5ae90;
}

.keywords-input-container {
    width: 100%; /* Asegura el ancho completo */
    display: flex; /* Flexbox para alineación */
    flex-direction: column; /* Elementos en columna */
    align-items: center; /* Centrado horizontal */
}

.keywords-input-container label {
    color: ##2a4857; /* Color azul oscuro para el label */
    margin-bottom: 5px; /* Espaciado entre el label y el input */
}

.keywords-input-container input {
    width: 100%; /* Asegura el ancho completo */
    padding: 8px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde sutil */
    border-radius: 4px; /* Bordes redondeados */
    margin-bottom: 15px; /* Espaciado después del input */
}

.limit-message {
    text-align: center;
    margin-top: 400px;
    color: #eeac65; /* Rojo para advertencias */
    font-weight: bold;
    position: absolute;
    left: 0;
    right: 0;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

button:disabled:hover {
    background-color: #cccccc;
}

.additional-styles {
    /* Tus estilos adicionales aquí */
}

/* Oculta la casilla de verificación original */
.form-group input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: white; /* Color de fondo */
    margin-right: 8px; /* Espacio a la derecha del texto */
    display: inline-block;
    position: relative;
    width: 18px; /* Tamaño de la casilla de verificación */
    height: 18px; /* Tamaño de la casilla de verificación */
    border: 1px solid #ccc; /* Borde de la casilla de verificación */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer;
    vertical-align: middle; /* Alineación vertical con el texto */
  }
  
  /* Estilo del ícono de verificación cuando el input está marcado */
  .form-group input[type="checkbox"]:checked::before {
    content: '✔';
    position: absolute;
    top: -13px; /* Ajuste de posición */
    left: -1px; /* Ajuste de posición */
    font-size: 28px; /* Tamaño del ícono de verificación */
    color: #eeac65; /* Color naranja para el ícono de verificación */
  }
  
  /* Cambia el color de fondo de la casilla de verificación cuando está marcada */
  .form-group input[type="checkbox"]:checked {
    border-color: #eeac65; /* Color naranja para el borde */
  }
  
  /* Añadir transiciones suaves (opcional) */
  .form-group input[type="checkbox"] {
    transition: background-color 0.2s, border-color 0.2s;
  }
  

/* Media Queries para dispositivos más pequeños */
@media (max-width: 768px) {
    .create-room-container {
        max-width: 90%;
        padding: 15px 15px 40px; /* Ajuste del padding inferior en pantallas pequeñas */
    }
}