/* AccountVerificationReminder.css */
.verification-reminder {
  color: #0b1f2a;
  background-color: #dab69157;
  padding: 20px;
  text-align: center;
  color: #0b1f2a;
  opacity: 0.9;
  max-width: 500px; /* Controla el ancho */
  margin: 0 auto; /* Centra el componente */
  border-radius: 10px; /* Bordes redondeados */
  position: absolute; /* Posición absoluta */
  top: 60px; /* Espacio desde la parte superior */
  left: 15%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Ajuste fino para centrar */
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 600px) {
  .verification-reminder {
      max-width: 90%; /* Ancho más pequeño para pantallas pequeñas */
      left: 5%; /* Ajuste para centrar en pantallas pequeñas */
      transform: translateX(0); /* Elimina el ajuste fino en pantallas pequeñas */
  }
}

.verification-reminder a {
  color: #f8913d;
  text-decoration: none;
}

.verification-reminder a:hover {
  text-decoration: underline;
}

.verification-message {
  margin-top: 10px;
  color: #0b1f2a;
}
