.login-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 10%; /* Ajusta el espacio lateral según sea necesario */
}

.logo-container, .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50%; /* Cada contenedor toma la mitad del espacio en pantallas grandes */
}

.logo-container {
    max-width: 100%; /* Ajusta el ancho máximo del logo */
}

.login-container {
    max-width: 100%; /* Ajusta el ancho máximo del formulario */
}

.logo-container img {
    width: 100%; /* El logo se ajustará al ancho de su contenedor */
    height: auto; /* Mantiene la relación de aspecto */
}

.login-container form {
    width: 100%; /* El formulario se ajusta al ancho de su contenedor */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: #fff;
}

.alternate-action a {
    color: #0a1f2b;
    /* Otros estilos para el enlace */
}

.button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button-group button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f8923d;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex-grow: 1;
    margin: 0 10px;
}

.button-group button:hover {
    background-color: #c95a06;
}

.image-container {
    text-align: center;
    padding-top: 30px;
}

.image-container img {
    width: 50%; /* Tamaño ajustado para pantallas pequeñas */
    display: block;
    margin: 0 auto;
}

.title-with-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.title-with-button .title {
    font-size: 18px;
    color: #FFF;
    flex: 1;
}

.title-with-button .icon-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #f8923d;
}

/* Media Queries para dispositivos más pequeños */
@media (max-width: 768px) {
    .login-page-container {
        flex-direction: column; /* Cambia a disposición en columna en pantallas pequeñas */
    }

    .logo-container, .login-container {
        flex-basis: auto; /* Permite que los contenedores se ajusten al contenido */
        max-width: 80%; /* Ancho máximo en pantallas pequeñas */
    }

    /* Ajustes adicionales para elementos en pantallas pequeñas */
    .logo-container img {
        width: 80%; /* Ajusta el tamaño del logo */
    }
}
/* Añadir otras media queries según sea necesario para otros rangos de tamaño */
