.room-page-content {
  padding-top: 20px; /* Espacio superior para el contenido debajo del logo */
  padding-bottom: 50px; /* Espacio inferior */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-code-container {
  position: fixed; /* Se queda fijo en la pantalla */
  top: 20px; /* 20px desde la parte superior de la pantalla */
  left: 5%; /* Centrado horizontalmente */
  transform: translateX(-50%); /* Ajusta para centrar exactamente en el eje X */
  text-align: center;
  z-index: 10;
}

.room-code-container h1,
.room-code-container .room-code {
  font-size: 1.2em;
  color: #0a1f2b;
}

.story-display {
  position: fixed;
  top: 290px;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}

.starters-container {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  position: fixed; /* Se queda fijo en la pantalla */
  top: 430px;
}

.keywords-display {
  text-align: center;
  color: #0a1f2b;
  font-size: 0.8em;
  padding: 10px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 80%;
  position: fixed; /* Se queda fijo en la pantalla */
  top: 190px; /* 20px desde la parte superior de la pantalla */
  left: 50%; /* Centrado horizontalmente */
  transform: translateX(-50%); 
  z-index: 10;
}

.keywords-display span {
  font-weight: bold;
  color: #f8923d;
  margin: 0 10px;
}

/* Media Queries para adaptar a diferentes tamaños de pantalla */
@media (max-width: 768px) {
  .room-page-content {
    padding-top: 20px;
    padding-bottom: 30px; /* Reducir el padding en pantallas más pequeñas */
  }

  .story-display,
  .keywords-display {
    max-width: 95%; /* Ampliar en pantallas pequeñas */
  }

  .room-code-container h1,
  .room-code-container .room-code {
    font-size: 1em; /* Ajustar el tamaño de fuente para pantallas pequeñas */
  }
}

@media (max-width: 480px) {
  .room-page-content {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .story-display,
  .keywords-display {
    max-width: 100%; /* Usar todo el ancho disponible en pantallas muy pequeñas */
  }
}
