/* Sidebar.css */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: #ffffff;
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
  color: #0b1e2b;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: right 0.3s ease;
  border-left: 1px solid #f8923d;
}

.sidebar.hidden {
  right: -250px;
}

.toggle-sidebar {
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #0b1e2b;
  cursor: pointer;
  z-index: 1100;
}

.sidebar.visible + .toggle-sidebar {
  right: 260px;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title-with-button {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 60px;
}

ul.salas-lista {
  margin-top: 30px;
}

.title-with-button h3 {
  margin: 0;
  font-size: 18px;
  flex-grow: 1;
}

.icon-button {
  background: none;
  border: none;
  color: #f8923d;
  cursor: pointer;
  padding: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}

.icon-button svg {
  font-size: 20px;
}

.sala-actions .icon-button svg {
  font-size: 14px; /* Cambia el tamaño del icono a 12px */
}

/* Estilos para la lista de salas en la sidebar */
.salas-lista {
  list-style-type: none; /* Elimina los marcadores de lista */
  padding: 0; /* Elimina el padding por defecto de la lista */
  margin-top: 30px;
  overflow-y: auto;
}

/* Estilo para cada elemento de la lista */
.salas-lista li {
  display: flex;
  align-items: center;
  position: relative; /* Mantiene el posicionamiento relativo para los botones */
  padding: 5px 10px;
  border-bottom: 1px solid #f0f0f0;
  /* Agrega un margen derecho para reservar espacio para los botones adicionales */
  margin-right: 0px; /* Ajusta este valor según el ancho de tus botones de lápiz y papelera */
}

/* Estilo para el nombre y código de la sala */
.salas-lista li div {
  flex-grow: 1; /* Permite que el div ocupe todo el espacio disponible */
  margin-right: 10px; /* Espacio entre el nombre/código y el botón de tres puntos */
}

/* Botón de tres puntos */
.more-options-button {
  display: none; /* Oculto por defecto */
  position: absolute;
  right: 180px; /* Asegura que el botón esté dentro del flujo del contenido de 'li' */
  top: 50%;
  transform: translateY(-50%);
}

.sala-edit-input {
  margin-left: 50px;
  font-size: 1em; /* Tamaño de la fuente similar al del nombre de la sala */
  padding: 5px; /* Un poco de padding para que no esté pegado a los bordes */
  margin-bottom: 5px; /* Margen para separarlo del código de la sala */
  border-radius: 4px; /* Bordes redondeados para que coincida con tu estilo */
  width: calc(50% - 10px); /* Ajusta el ancho para que no sobrepase los límites de su contenedor */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho final */
  color: #0b1e2b; /* Cambia esto al color azul oscuro de tu aplicación */
  border: 1px solid #0b1e2b;
}

/* Puedes también querer cambiar el color del texto del placeholder */
.sala-edit-input::placeholder {
  color: #0b1e2b; /* Color del placeholder */
}

/* Si deseas cambiar el color del texto al enfocar el campo */
.sala-edit-input:focus {
  color: #0b1e2b; /* Color del texto enfocado */
  border-color: #0b1e2b; /* Color del borde enfocado */
}

.sala-info {
  display: flex;
  flex-direction: column; /* Cambia la dirección a columna */
  align-items: flex; /* Alinea los elementos al inicio (izquierda) */
  cursor: pointer;
}

.sala-name {
  color: #0b1e2b;
  font-size: 1em;
  margin-bottom: 5px; /* Espacio entre el nombre de la sala y el código */
}

.sala-code {
  color: #f8923d;
  font-size: 0.8em;
}

.sala-info.hovered .sala-code {
  display: inline; /* Muestra el código cuando se pasa el ratón sobre la sala */
}

/* Mostrar el botón de tres puntos cuando se pasa el ratón sobre la sala */
.salas-lista li:hover .more-options-button {
  display: block; /* Se muestra el botón de tres puntos */
}

/* Botones de acción que aparecen al hacer clic en el botón de tres puntos */
.sala-actions {
  display: none;
  position: absolute;
  right: 10px; /* Coloca los botones adicionales a la derecha */
  top: 50%; /* Alinea los botones verticalmente */
  transform: translateY(-50%);
}

/* Mostrar los botones de acción cuando el estado selectedRoomId coincida con el ID de la sala */
.salas-lista li:hover .sala-actions {
  display: flex; /* Cambia a flex para mostrar los botones */
  flex-direction: row; /* Alinea los botones en fila */
  align-items: center; /* Alinea los botones verticalmente */
}

/* Cambia el color del icono al pasar el mouse por encima */
.icon-button:hover svg {
  color: #e67e22; /* Color naranja oscuro para el icono */
}

/* Asegúrate de que el botón no cambie de fondo al pasar el mouse por encima */
.icon-button:hover {
  background-color: transparent; /* Mantiene el fondo transparente */
}

/* Aplica los mismos estilos para los botones de acción (.sala-actions) */
.sala-actions .icon-button:hover svg {
  color: #e67e22; /* Color naranja oscuro para el icono */
}

.sala-actions .icon-button:hover {
  background-color: transparent;
}

/* Estilos para el perfil del usuario */
.user-profile {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  width: calc(100% - 40px);
}

.user-profile img,
.user-profile .profile-picture-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-profile .profile-picture-placeholder {
  background-color: #f8923d;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-nick {
  font-size: 1.2em;
  font-weight: bold;
}

.user-fullname {
  font-size: 0.8em;
  color: #666;
}

/* Estilos para el menú del usuario */
.user-menu {
  background-color: #dbb491;
  border: 1px solid #ffffff;
  position: absolute;
  bottom: 70px;
  width: calc(100% - 40px);
}

.menu-item {
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.menu-item svg {
  margin-right: 10px;
}

.menu-item:hover {
  background-color: #f8923d;
}

.custom-room-name {
  font-weight: bold;
  cursor: pointer;
}

.room-code {
  font-size: 0.8em;
  color: #0b1e2b;
}

/* Estilos para la barra de desplazamiento en la lista de salas para navegadores WebKit */
.salas-lista::-webkit-scrollbar {
  width: 7px;
}

.salas-lista::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.salas-lista::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.salas-lista::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Estilos para la barra de desplazamiento en la lista de salas para Firefox */
.salas-lista {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
