.verify-account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    padding: 20px;
}

.verify-account-container h1 {
    color: #0b1e2b;
    margin-bottom: 20px;
    text-align: center;
}

.verify-account-button {
    padding: 10px 20px;
    background-color: #f8923d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%; /* Hace que el botón ocupe todo el ancho del contenedor */
    max-width: 300px; /* Establece un ancho máximo para el botón */
}

.verify-account-button:hover {
    background-color: #e67e22;
}
